{% block posts %}
	<div class="posts">
		<h1>{{pageTitle}}</h1>
		{% block body %}
			{% for result in results %}
				<div class="post{{result.id}}">
				<a href="post/{{result.id}}" onclick="return bh(this)">
					<h2>{{result.title | raw }}</h2>
				</a>
				<p>{{result.excerpt | raw }}</p>
				</div>
			{% endfor %}
		{% endblock body %}
	</div>
{% endblock posts %}
{% block post %}{% endblock %}
{% block comments %}{% endblock %}
