{% extends ajaxMode == 'false' ? 'main.html.twig' : 'empty.html.twig' %}
{%  block main %}
    <h2>Nouveau commentaire</h2>
    
    {% if (error) %}
        <div class="frame-red">{{error}}</div>
    {% endif %}

        <div class="frame-white">
            <input type="hidden" id="postId" value="{{postId}}">
            
            {% if (loged == false) %}
            <div class="">
                <input type="text" id="name" placeholder="Nom" value="{{name}}">
                <label for="name">Nom, prénom</label>
            </div>
            <div class="">
                <input type="mail" id="mail" placeholder="E-mail" value="{{mail}}">
                <label for="mail">E-mail</label>
            </div>
            {% else %}
            <input type="hidden" id="name" value="{{name}}">
            <input type="hidden" id="mail" value="{{mail}}">
            {% endif %}

            <div class="area">
                <textarea id="comment" placeholder="Commentaire">{{comment}}</textarea>
            </div>
            <a class="btsav" onclick="bj(this)" data-bj="newComment|postComment||postId,name,mail,comment">
                Envoyer</a>

            <div id="commentTest"></div>
        </div>
{% endblock %}
