{% extends ajaxMode == 'false' ? 'main.html.twig' : 'empty.html.twig' %}
{%  block main %}

	{%if ( modif == 1 ) %}
    <h2>Modifier article</h2>
	{% else %}
    <h2>Nouvel article</h2>
	{% endif %}
    
    {% if error %}
        <div class="frame-red">{{error}}</div>
    {% endif %}

			{%if ( modif == true ) %}
            <a class="btdel" onclick="bj(this)" 
                data-bj="main|postUpdate|postId={{postId}}|catid,title,excerpt,content">
                Modifier</a>
                <a class="btn" href="/post/{{postId}}" onclick="bh(this)">Annuler</a>
			{% else %}
            <a class="btsav" onclick="bj(this)" 
                data-bj="main|postSave||catid,title,excerpt,content">
                Enregistrer</a>
			{% endif %}
        <div class="frame-white">
            <div class="area">
                <select id="catid">
			    {% for category in categories %}
                    <option value="{{category.id}}">{{category.category}}</option>
			    {% endfor %}
                </select>
                <label for="catid">Catégorie</label>
            </div>
            <div class="area">
                <input type="text" id="title" placeholder="Titre" value="{{article.title}}">
            </div>
            <div class="area">
                <textarea id="excerpt" placeholder="Résumé">{{article.excerpt}}</textarea>
            </div>
            <div class="area">
                <textarea id="content" placeholder="Article" rows="12">{{article.content}}</textarea>
            </div>


            <div id="postTest"></div>
        </div>
{% endblock %}
