{% extends ajaxMode == 'false' ? 'main.html.twig' : 'empty.html.twig' %}
{%  block main %}
    <h2>Nouvel article</h2>
    
    {% if error %}
        <div class="frame-red">{{error}}</div>
    {% endif %}

        <div class="frame-white">
            <div class="area">
                <select id="catid">
			    {% for category in categories %}
                    <option value="{{category.id}}">{{category.category}}</option>
			    {% endfor %}
                </select>
                <label for="catid">Catégorie</label>
            </div>
            <div class="area">
                <input type="text" id="title" placeholder="Titre" value="{{title}}">
            </div>
            <div class="area">
                <textarea id="excerpt" placeholder="Résumé">{{excerpt}}</textarea>
            </div>
            <div class="area">
                <textarea id="content" placeholder="Article" rows="12">{{content}}</textarea>
            </div>
            <a class="btsav" onclick="bj(this)" data-bj="main|postSave||catid,title,excerpt,content">
                Enregistrer</a>

            <div id="postTest"></div>
        </div>
{% endblock %}
